[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "==8.4.2"
pylint = "==2.14.5"
pycodestyle = "==2.14.0"
pytest-cov = "==3.0.0"

[scripts]
tests = "pytest -vv --cov-report xml:coverage-reports/coverage.xml --cov=katas tests/"
lint = "pylint katas tests --errors-only"
codestyle = "pycodestyle katas tests --show-source --show-pep8 --max-line-length=80"

[requires]
python_version = "3.11"
